<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <tbody>
      <tr>
        <td>123</td>
        <td>123</td>
      </tr>
      </tbody>
    </table>
  </body>
</html>
